.toolbar > h1.titleImg {
  background: url(../img/title-img.png) no-repeat top center;
  color: rgba(0,0,0,0);
}

.backButtonImg {
  width: 50px;
  background: url(../img/back-img.png) no-repeat center left,
              url(../../../iui/backButtonBack.png) repeat-x top left !important;
  color: rgba(0,0,0,0);
}
