body {
  margin: 0;
  padding: 0;
  height: 416px;
  font-family: Helvetica;
  -webkit-user-select: none;
  cursor: default;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  overflow: hidden;
  position: relative;
}

#headerGradient {
  width: 100%;
  height: 44px;
}

.header {
  position: relative;
  height: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(111, 135, 168);
  border-top: 1px solid rgb(179, 186, 201);
  border-bottom: 1px solid rgb(73, 95, 144);
  color: white;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
}

.header .button {
  position: absolute;
  font-weight: bold;
  line-height: 28px;
  top: 6px;
  border-width: 0 8px 0 8px;
  height: 29px;
  max-height: 29px;
  min-height: 29px;
  min-width: 32px;
  font-size: 12px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  font-weight: bold;
  line-height: 28px;
  color: white;
  z-index: 100;
  right: 4px;
  text-align: center;
}

#add {
  line-height: 26px;
  font-size: 18px;
  padding-left: 1px;
}

.back {
  position: absolute;
  border-width: 0 8px 0 14px;
  min-width: 20px;
  height: 30px;
  -webkit-border-image: url(images/backButton.png) 0 8 0 14;
  font-size: 12px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  font-weight: bold;
  line-height: 28px;
  top: 6px;
  left: 6px;
  padding: 0 3px 0 2px;
  color: white;
  z-index: 100;
  opacity: 1;
}

#main-title {
  position: absolute;
  width: 100%;
}

#main-title {
  top: 0;
  left: 0;
}

*[selected="true"] {
    display: block;
}


ul {
    display: none;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

ul > li {
  margin: 0;
  border-bottom: 1px solid #E0E0E0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  padding: 8px 0px 8px 8px;
}

ul > li > a {
  background: url(images/iPhoneArrow.png) no-repeat right center;
  display: block;
}