#header {
	background-image:	url(../images/about-header.jpg);
}

#content > div.page_footer > div.col1 {
	background-image:	url(../images/about-footer-img1.jpg);
}
#content > div.page_footer > div.col2 {
	background-image:	url(../images/about-footer-img2.jpg);
}
#content > div.page_footer > div.col3 {
	background-image:	url(../images/about-footer-img3.jpg);
}