#content > div.row > img.right {
	position:		absolute;
	left:			50%;
	margin-top:		-90px;
	margin-left:	60px;
}
#content > div.row > div {
	width:			450px;
}
#content > div.row > div > p {
	padding:		15px 0;
}




#footer > div {
	width:			24%;
	padding-right:	4px;
	border-right:	1px solid #d1c9c6;
}
#footer > div.footer4 {
	border-right:	0;	
}
#footer > div.footer1 > span.image {
	height:			100px;
	background:		url(../images/download_footer1.png) no-repeat center center;
}
#footer > div.footer2 > span.image {
	height:			100px;
	background:		url(../images/download_footer2.png) no-repeat center center;
}
#footer > div.footer3 > span.image {
	height:			100px;
	background:		url(../images/download_footer3.png) no-repeat center center;
}
#footer > div.footer4 > span.image {
	height:			100px;
	background:		url(../images/download_footer4.png) no-repeat center center;
}