* {
	margin:		0;
	padding:	0;
	border:		0;
}

.hide {		display:	none;	}
h1 {	font-size:	32px;	}
h2 {	font-size:	28px;	}
h3 {	font-size:	22px;	}
h4 {	font-size:	18px;	}
h5 {	font-size:	16px;	}
h6 {	font-size:	14px;	}

.tleft	{	text-align:		left;	}
.tright	{	text-align:		right;	}
.tcenter{	text-align:		center;	}

input.text,
textarea.text {
	width:			350px;
	padding:		2px;
	border:			1px solid #d1c9c6;
	background:		#fff;
}
textarea.text {
	height:			150px;
}
input.submit {
	color:			#fff;
	text-shadow:	0 1px 2px rgba(0,0,0,.7);
	padding:		6px 30px 7px;
	background:		#788da2 url(../images/global_sprites.png) no-repeat -181px -30px;
	background:		-webkit-gradient(linear, left bottom, left top, from(rgb(78,100,129)), to(rgb(181,199,211)));
	background:		-moz-linear-gradient(center bottom,rgb(78,100,129) 0%,rgb(181,199,211) 100%);
	-moz-border-radius: 2em;
	border-radius: 		2em;
	box-shadow:			0px 1px 3px #ccc;
	-moz-box-shadow: 	0px 1px 3px #ccc;
	-webkit-box-shadow: 0px 1px 3px #ccc;
}
label {
	padding-top:	2px;
	font-size:		12px;
	color:			#7b7b7b;
}
label > em {
	color:			red;
}

#main > hr {
	display:		none;	
}

body {
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		13px;
	color:			#000;
	background:		#fff url(../images/body_bg.png) repeat-x top center;
	text-align:		center;
}

#main {
	display:		block;
	width:			940px;
	height:			auto;
	padding:		0 20px;
	margin:			0 auto;
	text-align:		left;
}

#header {
	display:		block;
	float:			left;
	width:			960px;
	height:			48px;
	background:		url(../images/header_logo.png) no-repeat 0px 6px;	
}
#header > ul {
	display:		block;
	float:			left;
	height:			46px;
	margin-left:	50px
}
#header > ul > li {
	display:		inline;
	list-style:		none;
}
#header > ul > li > a {
	display:		block;
	float:			left;
	height:			46px;
	margin:			0 16px;
	background-repeat:		no-repeat;
	background-image:		url(../images/global_sprites.png);
}
#header > ul > li > a.home {
	width:					46px;
	background-position:	0px -92px;
}
#header > ul > li > a.home:hover, #header > ul > li > a.home.active {
	background-position:	0 -138px;
}

#header > ul > li > a.about {
	width:					45px;
	background-position:	-47px -92px;
}
#header > ul > li > a.about:hover, #header > ul > li > a.about.active {
	background-position:	-47px -138px;
}

#header > ul > li > a.demo {
	width:					46px;
	background-position:	0px 0px;
}
#header > ul > li > a.demo:hover, #header > ul > li > a.demo.active {
	background-position:	0px -46px;
}

#header > ul > li > a.download {
	width:					79px;
	background-position:	-91px -92px;
}
#header > ul > li > a.download:hover, #header > ul > li > a.download.active {
	background-position:	-91px -138px;
}
#header > ul > li > a.documentation {
	width:					120px;
	background-position:	-48px 0px;
}
#header > ul > li > a.documentation:hover, #header > ul > li > a.documentation.active {
	background-position:	-48px -46px;
}

#header > ul > li > a.gallery {
	width:					52px;
	background-position:	-170px -92px;
}
#header > ul > li > a.gallery:hover, #header > ul > li > a.gallery.active {
	background-position:	-170px -138px;
}

#header > ul > li > a.involved {
	width:					96px;
	background-position:	-223px -92px;
}
#header > ul > li > a.involved:hover, #header > ul > li > a.involved.active {
	background-position:	-223px -138px;
}

#header > ul > li > a > span {
	display:		none;
}

#header > form {
	display:		block;
	float:			left;
	width:			120px;
	margin:			13px 0 0 33px;
}
#header > form > input.searchform {
	display:		block;
	width:			100px;
	font-size:		11px;
	padding:		2px 20px 6px 22px;
	background:		url(../images/global_sprites.png) no-repeat -168px -72px;
}
#header > form > #emptysearch {
	display:		none;
	position:		absolute;
	width:			12px;
	height:			12px;
	margin:			4px 0 0 126px;
	background:		url(../images/global_sprites.png) no-repeat -168px -30px;
}



#content {
	display:		block;
	float:			left;
	width:			960px;
	margin-top:		10px;
	margin-bottom:	10px;
}

#intro {
	display:		block;
	float:			left;
	width:			980px;
	margin-top:		20px;
}
#intro > h1 {
	font-weight:	normal;
	font-size:		41px;
	width:			520px;
	text-shadow:	0px -1px 1px #fff;
}
#intro > h2 {
	font-weight:	normal;
	font-size:		22px;
	color:			#3e5370;
	width:			520px;
	text-shadow:	0px -1px 1px #fff;
}
#intro > p {
	display:		block;
	float:			left;
	width:			500px;
	font-size:		14px;
	line-height:	1.8em;
}

#breadcrumbs {
	display:		block;
	float:			left;
	width:			940px;
	height:			41px;
	font-size:		14px;
	margin-top:		30px;
	background:		url(../images/breadcrumbs_bg.png) repeat-x top left;
	border-bottom:	1px solid #d1c9c6;
}
#breadcrumbs p {
	display:		block;
	float:			left;
	margin:			14px 0 0 10px;
}
#breadcrumbs span {
	display:		block;
	float:			left;
	width:			11px;
	height:			inherit;
}
#breadcrumbs span.bleft {
	background:		url(../images/global_sprites.png) no-repeat -322px 0px;
}
#breadcrumbs span.bright {
	float:			right;
	background:		url(../images/global_sprites.png) no-repeat -333px 0px;
}


#content > div.row {
	display:		block;
	float:			left;
	width:			938px;
	padding:		15px 0;
	background:		#fff;
	border:			1px solid #d1c9c6;
	border-top:		none;
}
#content > div.row a {
	color:			#0085cc;
}
#content > div.row > div {
	display:		block;
	float:			left;
	width:			900px;
	margin-left:	20px;
	margin-bottom:	10px;
}
#content > div.row > div > h3 {
	font-size:		28px;
}
#content > div.row > div > p {
	line-height:	1.8em;
}
#content > div.row > div > ul {
	list-style:		none;
	line-height:	2;
}
#content > div.row > div > ul > li {
	display:		list-item;
}


#main > p.footer {
	display:		block;
	float:			left;
	width:			940px;
	height:			auto;
	margin:			15px auto;
	text-align:		center;
	line-height:	1.8em;
}
#main > p.footer,
#main > p.footer > a {
	color:			#666;
	font-size:		12px;
}
#main > p.footer > a {
	padding:			0 10px;
	text-decoration:	none;
}
#main > p.footer > a:hover {
	text-decoration:	underline;
	
}





#footer {
	display:		block;
	float:			left;
	width:			940px;
	height:			228px;
	margin-top:		30px;
	background:		url(../images/home_footer_bg.png) repeat-x top left;
}
#footer > span.bleft,
#footer > span.bright {
	display:		block;
	float:			left;
	width:			10px;
	height:			inherit;
	background:		url(../images/global_sprites.png) no-repeat -344px -0px;	
}
#footer > span.bright {
	float:			right;
	background:		url(../images/global_sprites.png) no-repeat -356px 0px;	
}
#footer > div {
	display:		block;
	float:			left;
}
#footer > div > h5 {
	width:			auto;
	font-size:		16px;
	margin:			15px 0 10px 15px;
}
#footer > div.footer1 > h5 {
	margin:			15px 0 10px 5px;
}
#footer > div > span.image {
	display:		block;
	width:			100%;
	height:			150px;
}
#footer > div > p {
	margin:			0 0 0 15px;
}
#footer > div.footer1 > p {
	margin:			10px 0 10px 5px;
}
#footer > div a {
	color:			#0085cc;
}


