#content {
	display:		block;
	float:			left;
	width:			980px;
	margin-top:		10px;
}
#content > div {
	display:		block;
	float:			left;
	width:			480px;
	margin-top:		30px;	
}
#content > div > h1 {
	font-weight:	normal;
	font-size:		43px;
	width:			520px;
	text-shadow:	0px -1px 1px #fff;
}
#content > div > h2 {
	font-weight:	normal;
	font-size:		24px;
	color:			#3e5370;
	width:			520px;
	text-shadow:	0px -1px 1px #fff;
}
#content > div > p {
	display:		block;
	float:			left;
	width:			520px;
	font-size:		14px;
	line-height:	1.8em;	
}

#content > div > p.desc {
	font-size:		18px;
	line-height:	1.6em;
	margin:			20px 0;
}
#content > div > p > a.download {
	display:		block;
	float:			left;
	width:			600x;
	height:			73px;
	margin:			30px 0 0 0;
	padding:		15px 40px 0 80px;
	color:			#000;
	font-size:		15px;
	text-decoration:none;
	text-shadow:	0px 1px 1px #fff;
	background:		url(../images/home_download_btn.png) no-repeat top left;
}
#content > div > p > a.download:hover {
	background-position:	bottom left;
}
#content > div > p > a.download > strong {
	font-weight:	normal;
	color:			#fff;
	font-size:		32px;
	text-shadow:	0px 1px 1px #000;
}

#footer {
	display:		block;
	float:			left;
	width:			980px;
	height:			228px;
	background:		url(../images/home_footer_bg.png) repeat-x top left;
}
#footer > div {
	display:		block;
	float:			left;
	width:			245px;
	height:			228px;
	color:			#282c39;
}
#footer > div.bloc1 {
	background:		url(../images/home_footer_leftborder.png) no-repeat top left;
}
#footer > div.bloc2,
#footer > div.bloc3 {
	background:		url(../images/home_footer_separator.png) no-repeat top left;
}
#footer > div.bloc4 {
	background:		url(../images/home_footer_rightborder.png) no-repeat top right, url(../images/home_footer_separator.png) no-repeat top left!important;
}
#footer > div > h4 {
	display:		block;
	float:			left;
	width:			245px;
	height:			30px;
	padding:		15px 0 5px 0;
	text-align:		center;
}
#footer > div > p {
	display:		block;
	float:			left;
	width:			245px;
}
#footer > div.bloc3 > p {
	margin-left: 	2px;
}
#footer > div > p.text,
#footer > div > p.bigtext {
	display:		block;
	float:			left;
	width:			210px;
	height:			36px;
	margin:			0 15px;
	text-align:		center;
}
#footer > div > p.bigtext {
	height:			auto;
	padding-bottom:	10px;
	font-size:		16px;
	font-weight:	bold;	
}